ctx = '.sticky'
{ctx} {
	position: relative;
	margin: 0 -1rem;

	&__panel{
		background-color: #fff;
		overflow: hidden;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		/* width: 100%; */
	}
	
	&__panel_shadow{
		/*box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);*/
		/*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 2px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.12);*/
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
	}
	
	&__backing{
		display: none;
		position: relative;
	}
	
	&_fixed > &__panel{
		position: fixed;
		background: rgba(255, 255, 255, 1);
		top: 0;
		z-index: 10;
		transition: box-shadow 0.2s ease 0.1s;
	}
		
	&_fixed > &__backing{
		display: block;
	}
}