@import "../../libs/fotorama/fotorama.css";

.fotorama__arr{
	height: 48px;
}

.fotorama__arr--next{
	background-image:url('theme/plugin__fotorama_arrow_right.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;	
}

.fotorama__arr--prev{
	background-image:url('theme/plugin__fotorama_arrow_left.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;	
}

.fotorama__fullscreen-icon{
	background-image: url('theme/plugin__fotorama_fullscreen.png');
	background-position: 50% 50%;
	background-size: cover;	
}

.fotorama--fullscreen .fotorama__fullscreen-icon{
	background-image: url('theme/plugin__fotorama_fullscreen_exit.png');
	background-position: 50% 50%;
	background-size: cover;	
}

.fotorama__thumb-border{
	border-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}