ctx = '.cart-popup'
{ctx} {
	box-sizing: border-box;
	width: 300px;
	
	&__header{
		padding: 1rem;
		border-bottom: 1px solid #e6e6e6;
	}
	
	&__item{
		border-bottom: 1px solid #e6e6e6;
		padding: 1rem;
	}
	
	&__item:last-child{
		border-bottom: 0;
	}
	
	&__footer{
		padding: 1rem;
		border-top: 1px solid #e6e6e6;
		text-align: center;
	}
}