ctx = '.amount'
{ctx} {

	.button_plus .icon{
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAF9JREFUOI1jYBj2QIiBgUEUnwIWAgbIMTAwcDAwMLzGpYCJdEcNNgMY0fhBDJCAg0gyMsoyMDCw/v///x6Smo8MDAyribXAgIGBwQKfgoEPA4oNIAR4GRgY+GltCWUAALJ+B86aLfnCAAAAAElFTkSuQmCC');
	}
	.button_minus .icon{
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAACVJREFUOI1jYBgFo4CBgRGNb8nAwKBNhL4FDAwMf6jumlEwUAAAsUkCAkWJuKgAAAAASUVORK5CYII=');
	}
	.input_count input{
		width: 2rem;
	}

}