ctx = '.sidebar'
{ctx} {
	display: inline-block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	vertical-align: middle;
	
	.button{
		margin-left: 1rem;
		margin-right: 1rem;
		
		&_hidden{
			display: none !important;
		}
	}
}