.goods{
	margin: 1rem;
	padding: 1rem;
	position: relative;
	text-align: center;
	transition: color .3s ease;
}
.goods:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.goods_shadow{
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.goods__content{
	position: absolute;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	bottom: 1rem;
	overflow: hidden;
}
.goods__image{
	width: 100%;
	height: 100%;
}
.goods__image img{
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}
.goods__text{
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #ddd;
	background: rgba(255,255,255,.8);
	padding: .5rem;
	box-sizing: border-box;
}
.goods__name{
	margin-bottom: .5rem;
	text-align: left;
	font-weight: 500;
}
.goods__name_size_l, .goods__price_size_l{
	font-size: 15px;
    line-height: 18px;
}
.goods__name_size_xl, .goods__price_size_xl{
	font-size: 18px;
    line-height: 22px;
}
.goods__price_size_xl .fa-rub{
	padding-left: 3px;
	font-size: 13px;
}
.goods__price, .goods__action{
	width: 50%;
	display: inline-block;
	text-align: left;
}
.goods__action{
	text-align: right;
}