ctx = '.sticky_theme_ergo'
{ctx} {
   	&.sticky_fixed > .sticky__panel{
		max-width: calc(1250px - 2rem);
		left: 1rem;
		right: 1rem;
		margin: 0 auto;
	}
	
	@media only screen and (max-width: 62em) {
		&.sticky_fixed > .sticky__panel{
			max-width: calc(100% - 240px);
		}		
	}
	
	.page_goods-card &.sticky_fixed > .sticky__panel{
		max-width: 625px;
		width: 50%;
	}
}
