ctx = '.header'
{ctx} {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    font: 15px/18px 'Roboto', Helvetica, sans-serif;
    font-weight: 300;

    margin: 0 -1rem;
    padding: 0 1rem;

    &__row{
    	box-sizing: border-box;
    	display: flex;
    	flex: 0 1 auto;
    	flex-direction: row;
    	flex-wrap: wrap;
    	padding-top: 1rem;
    	padding-bottom: 1rem;
    }

    &__row:first-child{
    }

    &__col{
    	flex: 1 1 auto;
    	padding-left: 1rem;
    	padding-right: 1rem;
    	/*margin-right: -1rem;
    	margin-left: -1rem;*/
    }

    &__col_text_center{
    	justify-content: center;
    }

    &__col_text_right{
    	justify-content: flex-end;
    }

    &__navigation{
    	flex-shrink: 1;
    }
}