ctx = '.aside'
{ctx} {
	box-sizing: border-box;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	height: 100%;
	width: 192px;
	overflow-y: hidden;
	background: #e6e6e6;
	z-index: 100;
	display: none;
	visibility: hidden;
	margin: -9999px 0 0 -9999px;
	animation-duration: 0.1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
	&_shadow{
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
	
	&:hover{
		overflow-y: auto;	
	}
	
	&_js_inited{
		display: block;
	}
	
	&_display{
		margin: 0;
		visibility: visible;
		opacity: 1;
	}
	
	&_visible{
		margin: 0;
		visibility: visible;
		opacity: 1;	
	}
	
	
	&__inner{
		padding: 16px;
	}
	
	
	
	
	
	

/* 	&_animation{
		animation-name: sidebar_theme_ergo;
		
		&.sidebar_visible{
			 animation-name: sidebar_theme_ergo_visible;
		}
	}
	
	&_visible{
		margin: 0;
		visibility: visible;
		opacity: 1;
	} */

}

@keyframes sidebar_theme_ergo {
	0% {
		visibility: visible;
		margin: 0;
		opacity: 1;
		transform: translateX(0px);
	}
	99% {
		margin: 0;
	}
	100% {
		visibility: hidden;
		margin: -9999px 0 0 -9999px;
		opacity: 0;
		transform: translateX(-208px);
	}
}

@keyframes sidebar_theme_ergo_visible {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin: 0;
		transform: translateX(0px);
	}
}