ctx = '.cart_info'
{ctx} {
	display: flex;
	justify-content: flex-end;

	.cart{
		&__cart{
			margin-right: 1rem;
		}

		&__info{
			display: flex;
			flex-direction: column;

			.icon{
				padding-left: 3px;
			}
		}
	}
}