.select_icon
{
	.select__button{
		&.button_size_s{
			.button__text{
				.icon{
					/* font-size: 24px;  */
				}
			}
		}
		&.button_size_m{
			.button__text{
				.icon{
					font-size: 24px;
				}
			}
		}
		&.button_size_l{
			.button__text{
				.icon{
					/* font-size: 24px; */
				}
			}
		}
		&.button_size_xl{
			.button__text{
				.icon{
					/* font-size: 24px; */
				}
			}
		}
	}
}
