ctx = '.order-contacts'
{ctx} {
	background: #fff;
	margin-left: -1rem;
	margin-right: -1rem;
	
	&__header{
		border-bottom: 1px solid #e6e6e6;
		padding: 1rem;
	}
	
	&__title{
		font-size: 18px;
		line-height: 22px;	
	}

	&__content{
		padding: 1rem;	
	}
	
	&__input{
		padding: .5rem 0;
		display: flex;
		flex-folow: row wrap;
		align-items: center;
		
		.lable{
			display: inline-block;
			box-sizing: border-box;
			width: 20%;
		}
		
		.input{
			width: 80%;
		}
	}
	
	&__footer{
		border-top: 1px solid #e6e6e6;
		padding: 1rem;
		display: flex;
		justify-content: flex-end;
	}
}