ctx = '.cart_button_icon'
{ctx} {

    margin-right: 1rem;

    .cart__badge{
        background: #f37d2f none repeat scroll 0 0;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        text-align: center;     
    }    

    & .link_size{
    	&_s{
    	    font-size: 13px;

    	    .icon:not(:first-child){
    	        font-size: 15px;
    	        margin-left: 3px;
    	        vertical-align: bottom;
    	    }

    	    .icon{
    	        font-size: 18px;
    	        vertical-align: bottom;
    	    }
    	}

        &_m{
            font-size: 13px;

            .icon:not(:first-child){
                font-size: 15px;
                margin-left: 3px;
                vertical-align: bottom;
            }

            .icon{
                font-size: 21px;
                vertical-align: bottom;
            }
        }

        &_l{
            font-size: 15px;

            .icon{
                margin-left: 3px;
                font-size: 18px;
                vertical-align: bottom;
            }

            .icon:first-child{
                margin-left: 0;
                font-size: 24px;
                vertical-align: bottom;
            }

            .cart__badge{
                font-size: 10px;
                height: 16px;
                line-height: 16px;
                top: -18px;
                width: 16px;
                right: 9px;    
                margin-right: -9px;
                vertical-align: bottom; 
            }
        }    

        &_xl{
            font-size: 18px;

            .icon{
                font-size: 21px;
                margin-left: 3px;
                vertical-align: bottom;
            }
        }
    }

}