ctx = '.aside'
{ctx} {
	&__close{
		position: absolute;
		top: 24px;
		left: 143px;
		padding: 5px;
		
		&.link_hovered{
			background: #e6e6e6;
			border-radius: 50%;
		}
		
		.icon.material-icons{
			line-height: 1.5rem;
			font-size: 1.5rem;
		}
	}
	
	&_display{
		.aside__close{
			display: none;
		}
	}
}
