ctx = '.goods-card'
{ctx} {
	&_width{
		&_available{
			width: 100%;
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}

	&__information, &__cost{
		background: rgba(255, 255, 255, 1);
		display: flex;
		flex-flow: row wrap;
		
		padding: 1rem;
		margin: 0 -1rem;
	}

	&__lable{
		position: absolute;
		margin-top: -1rem;
		background: #2eb72e;
		color: #fff;
		display: inline-block;
		z-index: 1;
		padding: 2px 8px 3px;
		border-radius: 2px;
		font-size: 11px;
	}

	&__vendor-code{
		position: absolute;
		margin-top: -1rem;
		right: 1rem;
		color: #999;
		display: inline-block;
		z-index: 1;
		padding: 2px 8px 3px;
		font-size: 11px;
	}

	&__title{
	    font-size: 34px;
	    font-weight: 500;    
	    line-height: 40px;
	    letter-spacing: -.02em;
	    margin: 0;

	    &_small{
	    	font-size: 24px;
	    	font-weight: 300;
	    }
	}

	&__header{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
		padding: 1rem;
		margin-left: -1rem;
		margin-right: -1rem;
		position: relative;
	}

	&__cost{
		font-size: 15px;
		line-height: 18px;
	}

	&__price, &__color, &__action{
		padding: 1rem;
	}

	&__nav{
		width: 100%;
		margin-left: -1rem;
		margin-right: -1rem;
	}

	&__price{
		border-bottom: 1px solid #e6e6e6;
		padding-top: 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		&_old{
			position: absolute;
			margin-top: -.5rem;
			color: #999;
			font-size: 13px;
			font-weight: 300;
			line-height: 15px;
			letter-spacing: .02em;
			text-decoration: line-through;
		}

		&_current{
			display: inline-block;
			font-size: 24px;
			font-weight: 500;
			line-height: 32px;
			white-space: nowrap;
		}
	}

	&__color{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		.select{
			padding-left: 1rem;
		}
	}

	&__description{
		box-sizing: border-box;
		width: 50%;
		padding-right: 1rem;
		padding-top: 1rem;	

		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
		
		}

		li{
			padding: .2rem 0 .3rem 0;
			position: relative;

			&:before{
				position: absolute;
				top: 10px;
				left: -8px;
				content: ' ';
				display: inline-block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				line-height: 1rem;
				margin-right: 3px;
				background-color: #f37d2f;
			}
		}
	}

	&__slider{
		box-sizing: border-box;
		width: 50%;
		padding-top: 1rem;
		position: relative;
		z-index: 0;
	}

	&__image{
		max-width: 2rem;
		max-height: 2rem;

		img{
			width: 100%;
			height: 100%;
		}
	}

	&__toolbar{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: 1rem;
	}

	&__name{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
