ctx = '.goods-card'
{ctx} {
	background: rgba(255, 255, 255, .95);
	display: flex;
	flex-flow: row nowrap;
	
	padding: 1rem;
	margin: 0 -1rem;

	&__lable{
		background: #2eb72e;
		color: #fff;
		display: inline-block;
		z-index: 1;
		padding: 2px 8px 3px;
		border-radius: 2px;
		font-size: 11px;
	}

	&__content{
		width: 40%;
	}

	&__slider{
		width: 60%;
	}
}
