.filter{
/* 	margin-left: -1rem;
	margin-right: -1rem; */
	padding-top: 1rem; 
	padding-bottom: 1rem; 
}
.radio-group_theme_ergo.radio-group.radio-group_type_button, .select_theme_ergo.select{
	display: none;
	margin: -9999px 0 0 -9999px;
	visibility: hidden;
	display: none;
	position: relative;
}
.filter__group{
	padding-left: 1rem;
	padding-right: 1rem;
}
.radio-group_theme_ergo.radio-group_js_inited.radio-group_visible, .select_theme_ergo.select_js_inited.select_visible{
	margin: 0;
    visibility: visible;
	display: inline-block;
}